<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Monitoring Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.3.0/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="header">
        <div class="menu">
            <iconify-icon class="menu-icon" icon="ic:outline-menu" width="30" height="30" onclick="toggleMenu()"></iconify-icon>
            <div class="menu-div">
                <button class="x-btn"><iconify-icon icon="gg:close-o" width="24" height="24" onclick="toggleMenu()"></iconify-icon></button>
                <a href="{{ url_for('dashboard') }}"><button class="menu-btn active">Dashboard</button></a>
                <a href="{{ url_for('dashboard') }}"><button class="menu-btn">Internet Uptime</button></a>
                <button class="menu-btn">Add Device</button>
                <a href="/ping"><button class="menu-btn">Ping Devices</button></a>
                <a href="{{ url_for('dashboard_daily') }}"><button class="menu-btn">Daily Report</button></a>
                <a href="{{ url_for('dashboard_monthly') }}"><button class="menu-btn">Monthly Report</button></a>
                <a href="{{ url_for('dashboard_yearly') }}"><button class="menu-btn">Yearly Report</button></a>
            </div>
        </div>
        <h1>Network Monitoring Dashboard</h1>
    </div>
    <div class="container">
        <div class="graph-card">
            <h3>Device Availability</h3>
            <div class="chart-container">
                <canvas id="deviceAvailability"></canvas>
            </div>
            <p class="caption">Devices available per last ping</p>
        </div>
        <div class="graph-card" >
            <h3>County Performance</h3>
            <div class="chart-container">
                <canvas id="countyAvailability"></canvas>
            </div>
            <p class="caption">County availiability bar graph</p>
        </div>
        <div class="graph-card">
            <h3>Regional Performance</h3>
            <div class="chart-container">
                <canvas id="regionAvailability"></canvas>
            </div>
            <p class="caption">Regional availiability bar graph</p>
        </div>
        <div class="graph-card">
            <h3>Overall Performance</h3>
            <div class="chart-container">
                <canvas id="overallAvailability"></canvas>
            </div>
            <p class="caption">Overall availiability bar graph</p>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
</body>
</html>